<div class="footer">
    <div class="footer-content container-xxl">
        <div class="footer-col footer-col1">
            <p class="interiorx"><strong>DHAVAL<span>R</span></strong></p>
                   <div class="social-links">
                <div class="social-link">
                    <span class="icon-facebook-f"></span>
                </div>

                <div class="social-link">
                    <span class="icon-instagram"></span>
                </div>

                <div class="social-link">
                    <span class="icon-snapchat"></span>
                </div>

                <div class="social-link">
                    <span class="icon-telegram-plane"></span>
                </div>
            </div>
        </div>

        

        <div class="footer-col location">
            <p class="footer-col-title"><strong>Contact Us</strong></p>
            <p>Ahmedabad</p>
            <div class="address">
                <p><strong>Phone: </strong><span>7046824224</span></p>
                <p><strong>Email: </strong><span>dhavalrawat</span></p>
                <p><strong>Web: </strong><a href="#">dhavalrawat810@gmail.com</a></p>
            </div>
        </div>
    </div>

    <footer class="copyright container-xxl">
        <p>Copyright &copy; 2022 - All Rights Reserved - <a
                href="https://www.youtube.com/channel/UCr4TC9YxsDZwzwIxnZOVlBw">DHAVAL</a></p>
    </footer>
</div>
